####
# This section Calibrates the Z Endstop and Z-Probe if they are present
##

[menu __main __setup __calib __probe]
type: list
name: Z Endstop / Probe
enable: {not printer.idle_timeout.state == "Printing"}

[menu __main __setup __calib __probe __beginzesc]
type: command
enable: {(not printer.idle_timeout.state == "Printing") and (not printer.configfile.settings.stepper_z[endstop_pin: probe:z_virtual_endstop])}
name: Calibrate Endstop
gcode:
    G28 
    G0 X {printer.toolhead.axis_maximum.x / 2} Y {printer.toolhead.axis_maximum.y / 2}
    G0 Z 10
    Z_ENDSTOP_CALIBRATE


[menu __main __setup __calib __probe __accept]
type: command
name: Accept
enable: {not printer.idle_timeout.state == "Printing"}
gcode:
        ACCEPT
        # WE REALLY WANT TO PUT THE TOOLHEAD SOMEWHEWRE SAFE BEFORE SAVE_CONFIG
        G0 Z 30
        M117 SAVE_CONFIG now!


[menu __main __setup __calib __probe __abort]
type: command
name: Abort
enable: {not printer.idle_timeout.state == "Printing"}
gcode:
    ABORT
    G0 Z 30

#[menu __main __setup __calib __probe __zpos]
#type: command
#width: 16
#name: {"Z = 0:.3f" % toolhead.zpos }
#gcode:
#        BEEP
#cursor: \x20
#parameter: toolhead.zpos

[menu __main __setup __calib __probe __calibrate_testz_minus_1]
type: command
name: "  -1.0"
gcode:
        TESTZ Z=-1

[menu __main __setup __calib __probe __calibrate_testz_plus_1]
type: command
name: "  +1.0"
gcode:
        TESTZ Z=+1

[menu __main __setup __calib __probe __calibrate_testz_minus_point_1]
type: command
name: "  -0.1"
gcode:
        TESTZ Z=-0.1

[menu __main __setup __calib __probe __calibrate_testz_plus_point_1]
type: command
name: "  +0.1"
gcode:
        TESTZ Z=+0.1

[menu __main __setup __calib __probe __testz_minus]
type: command
name: "   - bisect move" 
gcode:
        TESTZ Z=-

[menu __main __setup __calib __probe __testz_plus]
type: command
name: "   + bisect move" 
gcode:
        TESTZ Z=+

[menu __main __setup __calib __probe __testz_minus_minus]
type: command
name: "   -- return" 
gcode:
        TESTZ Z=--

[menu __main __setup __calib __probe __testz_plus_plus]
type: command
name: "   ++ return"
gcode:
        TESTZ Z=++

####
# This section runs BED_SCREWS_ADJUST
#  Read the fine manual https://www.klipper3d.org/Manual_Level.html#adjusting-bed-leveling-screws 
#  If you don't adjust a screw hit Accept Screw, keep going until Accept Screw does nothing.
##

[menu __main __setup __calib __bed]
type: list
name: Bed Screws (Manual)
enable: { (not printer.idle_timeout.state == "Printing") and (printer.configfile.settings.bed_screws)}

[menu __main __setup __calib __bed __start]
type: command
name: Start
enable: {not printer.idle_timeout.state == "Printing" }
gcode:
    G28
    BED_SCREWS_ADJUST

[menu __main __setup __calib __bed __adjust]
type: command
name: Screw Adjusted
enable: {not printer.idle_timeout.state == "Printing" }
gcode:
    ADJUSTED
[menu __main __setup __calib __bed __accept]
type: command
name: Accept Screw
enable: {not printer.idle_timeout.state == "Printing" }
gcode:
    ACCEPT

[menu __main __setup __calib __bed __abort]
type: command
name: Abort Procedure
enable: {not printer.idle_timeout.state == "Printing" }
gcode:
    ABORT